<%- include('partials/header'); -%>

<header>
  <div class="main expand">
    <div class="smoothie">
      <img src="/logo.png" alt="" />
    </div>
    <div class="headings">
      <h2>ASU Course Tracker</h2>
      <h3 style="font-weight: normal;">Get a text sent to you whenever the number of seats for a course changes</h3>
      <p style="margin-top: 30px; color: #999;">Email coming soon!</p>
    </div>
  </div>
  <a href="/track-courses" class="btn start-tracking">Start Tracking Courses</a>
</header>

<%- include('partials/footer'); -%>
